body{
  background-color: #F3F4F6;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: #0c151d;
  color:#F3F4F6;
  position: sticky;
  top:0;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 5px black;
  z-index:2;
}
#logo {
  margin: 0 20px;
  padding: 0 5px;
}
#logo h1{
  margin:5px;
  font-size: 40px;
}
nav{
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  display:flex;
  align-items: center;
  justify-content: center;
  margin:5px 8px;
  padding: 0;

}
nav ul li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 5px;
  color: #F3F4F6;
  font-size: 30px;
}
nav ul li a{
  text-decoration: none;
  padding: 3px 20px;
  color: #F3F4F6;
  font-size: 20px;
}
nav ul li a:hover{
  background: #3a96cf;
  border-radius: 10px;
}

.page{
  height: 100vh;

}
/**homepage style start**/
.homepage{
  background: rgb(34,64,89);
  background: linear-gradient(60deg, rgba(34,64,89,1) 50%, rgba(243,244,246,1) 100%);
  background-image: url(images/ft.jpg);
  background-position:centre;
  background-size: cover ;
  display: flex ;
  box-shadow: 0 2px 5px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/**homepage style end**/
#website-description{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 50px;
}
#website-description h1{
  font-size: 50px;
  text-align: center;
}
#website-description p{
  margin: 0 20px ;
  font-size: 20px;
  text-align: center;
}
/**team page start**/
.team-page{
  height: 100vh;
  background: #DC4141;
  box-shadow: 0 2px 5px black;
}

.team-page .container {
  padding-top: 50px;
}

.team-page .container .title {
	text-align: center ;

}
.team-page .container .title h1 {
	font-size : 40px ;
	text-transform : uppercase ;
	letter-spacing : 1.5 px ;
	color : white ;
  margin-top: 50px;
}
.team-page .container .title p {
	font-size : 20px ;
	font-family : arial ;
	margin-top: 0px;
	color : white;
}
.team-page .container .team-card {
	display : grid ;
	grid-template-columns : repeat(4,1fr) ;
	grid-gap : 60px ;
	margin-top: 60px ;
}
.team-page .container .team-card .card {
	background-color : #DC4141 ;
	display : flex ;
	justify-content : center ;
	align-items: center ;
	flex-direction :column ;
	padding : 20px ;
	cursor : pointer ;
}
.team-page .container .team-card .card:hover {
    background-color : #224059 ;
    transition : 0.3s ;
}

.team-page .container .team-card .card .image-section img {
	height : 150px ;
	width : 150px ;
	border-radius : 50% ;
	border : 6px solid #fff ;
}
.team-page .container .team-card .card .content {
	width : 100% ;
	text-align : center ;
}
.team-page .container .team-card .card .content h3{
     font-size : 27px ;
	 margin-top : 10px ;
	 letter-spacing : 1.5px ;
	 color : white ;
}

.team-page .container .team-card .card .content p{
     font-size : 15px ;
	 margin : 16px 0px ;
	 line-height : 1.5 ;
	 color : white ;
}
/** team page end**/
/**trainer style start**/
.trainer{
  height: 100vh;
  background: #F7B53B;
  box-shadow: 0 2px 5px black;
  padding-top: 100px;
}


.trainer .container .row .title {
	text-align: center ;

}
.trainer .container .row .title h1 {
	font-size : 40px ;
	text-transform : uppercase ;
	letter-spacing : 1.5 px ;
	color : white ;
	text-align: center;
}
.trainer .container .row .title p {
	font-size : 25px ;
	font-family : arial ;
	margin-top: 0px;
	color : white ;
}
.trainer .container .team-card {
	display : grid ;
	grid-template-columns : repeat(3,1fr) ;
	grid-gap : 20px ;
	margin-top: 50px ;
}
.trainer .container .team-card .card {
	background-color : #F7B53B ;
	display : flex ;
	justify-content : center ;
	align-items: center ;
	flex-direction :column ;
	padding : 20px ;
	cursor : pointer ;
}
.trainer .container .team-card .card:hover {
    background-color : #224059 ;
    transition : 0.3s ;
}

.trainer .container .team-card .card .image-section img {
	height : 150px ;
	width : 150px ;
	border-radius : 50% ;
	border : 6px solid #fff ;
}
.trainer .container .team-card .card .content {
	text-align : center ;
}
.trainer .container .team-card .card .content h3{
     font-size : 27px ;
	 margin-top : 10px ;
	 letter-spacing : 1.5px ;
	 color : white ;
}

.trainer .container .team-card .card .content p{
     font-size : 15px ;
	 margin : 16px 0px ;
	 line-height : 1.5 ;
	 color : white ;
}
.trainer .container .team-card .card .content p a{
	text-decoration:none;
	font-size : 20px;
	font-family: arial;
	color : white;
	border: 1px solid white;
}
.trainer .container .team-card .card .content p a:hover{
	background-color : #606B80 ;
    transition : 0.3s ;
}
/** coaches style end**/
/**feedback-pagestyle**/
.feedback-page {
	position: absolute;
	height:100vh;
	width:100%;
	background-image:url(img/bc.jpg);
	background-size: cover ;
	background-position : center;
	display : flex;
	min-height : 100vh;
	align-items: center ;
	justify-content : center;
}
.feedback-page .container {
	width : 600px;
	background: #000;
	box-shadow: 0 0 8px rgba(250,250,250,0,6);
	opacity : 0.6;
}
.feedback-page .container form {
	width : 90%;
	text-align: center;
	padding : 25px 20px ;
}
.feedback-page .container form legend {
	padding : 10px 0 ;
	color : white;
	font-size:30px
}
.feedback-page .container form .id {
	position : auto ;
	color:white;
	width:90%;
}
.feedback-page .container form .id .i {
	position: absolute ;
	font-size : 20px;
	top : 50% ;
	right : 0px;
	transform: translateY(-50%);
}
.feedback-page .container form input {
	width : 90% ;
	height: 50px ;
	margin: 4px 0;
	border : 1px solid #5c5c5c ;
	border-radius: 3px ;
	background: #181717 ;
	padding : 0 15px ;
	padding-right : 45px ;
	font-size :20px ;
}
.feedback-page .container form textarea {
	padding: 5px 15px ;
	border : 1px solid #5c5c5c ;
	border-radius: 3px ;
	background: #181717 ;
	padding : 0 15px ;
	font-size :20px ;
	width:90%;
	margin : 4px 0 ;
}
.feedback-page .container form button {
	margin-top:5px;
	border : none ;
	background: #00fff0;
	color:#222;
	padding : 10px 0;
	width : 100%;
	font-size: 20px ;
	font-weight:800;
	cursor: pointer;
	border-radius :3px;
}
.feedback-page .container form input: focus,
.feedback-page .container form textarea:focus{
	border:1px solid #00fff0;
	color:#00fff0;
	transition: all 0.3s ease ;
}
.feedback-page .container form input:focus::placeholder,
.feedback-page .container form textarea:focus::placeholder{
	padding-left: 4px;
	color:#00fff0;
	transition: all 0.3s ease;
}
.feedback-page .container form input:focus + i{
	color:#00fff0;
	transition: all 0.3s ease;
}
/**feedback-pagestyle end**/


/**about us style start**/
.about-us-page{
	width:100%;
	height:100vh;
	margin-top:30px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.about-us-page #about-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us-page #about-us h1{

	text-align: center;
	margin-top:-50px;
	font-size: 35px;
}
.about-us-page #about-us p{
	text-align:center ;
	padding-left:25px;
  width: 50%;
	font-family: arial;
}
.about-us-page img{
	float: left;
	width: 630px;
	height: 630px;
  margin-left: 100px;
}
/**about us style end**/



.activities-page{
  position: relative;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swiper-slide img {
  background: #224059;
  display: block;
  height: 70%;
  width: 50vw;
  object-fit: cover;
  margin-left: 50px;
  box-shadow: 2px 2px 5px black;
  z-index: 1;
}
.sport-description{
  height: 70%;
  width: 50vw;
  margin-right: 50px;
  box-shadow: 2px 2px 5px black;
  color: #F3F4F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

}
#s1{
    background: #F8BD4F ;
}
#s2{
    background: #5BA8D7 ;
}
#s3{
    background: #274B68 ;
}
#s4{
    background: #DF5353 ;
}

.sport-description h2{
  font-size: 50px;
}

.sport-description p{
  font-size: 20px;
  text-align: justify;
  padding: 0 20px;
}

.playlist-page{
  height: 100vh;
  box-shadow: 0 2px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.player{
	height: 80%;
	width: 80%;
  box-shadow: 0 2px 5px black;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #3A96CF, #3A96CF);
}
.player button{
	padding: 10px 12px;
	margin: 0 10px;
}


/* left & right part */
.right,.left{
	position: relative;
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* song image */
.left img{
	height: 500px;
	width: 80%;
	border-radius: 15px;
	box-shadow: 1px 0px 20px 12px rgba(240,240,240,0.2);
  margin-bottom: 50px;
}

/* both range slider part */
input[type="range"] {
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 2px;
	margin: 0 15px;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: #F7B53B;
	border-radius: 50%;
	cursor: pointer;
}
.right input[type=range]{
	width: 40%;
}



/* volume part */
.left .volume{
	position: absolute;
	bottom: 10%;
	left: 0;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.left .volume p{
	font-size: 15px;
}
.left .volume i{
	cursor: pointer;
	padding: 8px 12px;
	background: #F7B53B;
}
.left .volume i:hover{
	background: rgba(245,245,245,0.1);
}
.volume #volume_show{
	padding: 8px 12px;
	margin: 0 5px 0 0;
	background: rgba(245,245,245,0.1);
}



/* right part */
 .right .middle{
 	width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
}
.right .middle button{
	border: none;
	height: 70px;
	width: 70px;
	border-radius: 50%;
    display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	background: rgba(255,255,255,0.1);
}
.right #title{
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	text-transform: capitalize;
	color: #fff;
	font-size: 35px;
}
.right #artist{
	position: absolute;
	top: 110px;
	left: 50%;
	transform: translateX(-50%);
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
}
.right .duration{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20px;
	margin-top: 40px;
}
.right .duration p{
	color: #fff;
	font-size: 15px;
	margin-left: 20px;
}
.right #auto{
	font-size: 18px;
	cursor: pointer;
	margin-top: 45px;
	border: none;
	padding: 10px 14px;
	color: #fff;
	background: rgba(255,255,255,0.2);
	outline: none;
	border-radius: 10px;
}
.right #auto i{
	margin-left: 8px;
}
#play{
	background: #F7B53B;
}
.right button:hover{
	background: #F7B53B;
}
.right i:before{
	color: #fff;
	font-size: 20px;
}

.right .show_song_no{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #fff;
  border-radius: 5px;
  background: rgba(255,255,255,0.2);
}
.right .show_song_no p:nth-child(2){
	margin: 0 5px;
}


footer{
  background-color: #0c151d;
  color:#F3F4F6;
  box-shadow: 0 5px 15px black;
  position: sticky;
  bottom:0;
  height: 60px;
  z-index: 2;
}
